.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: transparent;
}

.scroll-header {
    background-color: var(--body-color);
    box-shadow: 0 0 4px hsla(var(--hue-color), 64%, 15%, .15);

    .nav {
        &__logo,
        &__toggle {
            color: var(--title-color);
        }
    }

    @media screen and (min-width: 768px) {
    .nav {
        &__item {
             .nav {
                &__link {
                    color: var(--text-color) !important;
                }
            }
             .active {
                &-link {
                    color: var(--title-color);

                    &::before {
                        background-color: var(--title-color);
                    }
                }
            }
        }
    }

    .change {
        &-theme {
            color: var(--text-color);
        }
    }
    }
}


