.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (min-width: 768px) {
        height: calc(var(--header-height) + 1.5rem);
    }

    &__logo,&__toggle {
        color: var(--white-color);
    }

    &__logo {
        font-weight: var(--font-semi-bold);
    }

    &__toggle {
        font-size: 1.2rem;
        cursor: pointer;

        @media screen and (min-width: 768px) {
            display: none;
        }
    }

    &__menu {
        position: relative;

        @media screen and (min-width: 768px) {
            display: flex;
            column-gap: 1rem;
        }

        @media screen and (max-width: 767px) {
            position: fixed;
            background-color: var(--body-color);
            top: 0;
            right: -100%;
            width: 70%;
            height: 100%;
            box-shadow: -1px 0 5px hsla(var(--hue-color), 64%, 15%, .15);
            padding: 3rem;
            transition: .4s;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 2.5rem;

        @media screen and (min-width: 768px) {
            flex-direction: row;
            column-gap: 4rem;
        }
    }

    .nav {
        &__item {
            .nav {

                &__link {
                    color: var(--text-color-light);
                    font-weight: var(--font-semi-bold);
                    text-transform: uppercase;

                        @media screen and (min-width: 768px) {
                            color: var(--white-color) !important;
                            text-transform: initial;

                            &:hover {
                                color: var(--white-color);
                            }
                        }

                    &:hover {
                        color: var(--text-color);
                    }
                }
            }
        }
    }

    &__close {
        position: absolute;
        top: .75rem;
        right: 1rem;
        font-size: 1.5rem;
        color: var(--title-color);
        cursor: pointer;

        @media screen and (min-width: 768px) {
            display: none;
        }
    }
}

.show-menu {
    right: 0;
}

.active-link {
    position: relative;
    color: var(--title-color) !important;


    &::before {
        content: '';
        position: absolute;
        background-color: var(--title-color);
        width: 100%;
        height: 2px;
        bottom: -.75rem;
        left: 0;

        @media screen and (min-width: 768px) {
            background-color: var(--white-color);
        }
    }
}



