::webkit-scrollbar {
    width: .60rem;
    background-color: var(--scroll-bar-color);

    &-thumb {
        background-color: var(--scroll-thumb-color);

        &:hover {
            background-color: var(--text-color-light);
        }
    }
}