.swiper{
    &-container {
        &-3d {
          .swiper {
            &-slide {
                &-shadow {
                    &-left,&-right {
                        background-image: none;
                    }
                }
            }
          }
        }
    }
}