.about {
    &__data {
        text-align: center;
    }

    @media screen and (min-width: 768px) {
        &__data,&__title {
            text-align: initial;
        }

        &__title {
            margin-bottom: var(--mb-1-5);
        }
    }

    &__container {
        row-gap: 2.5rem;

        @media screen and (min-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
        }
    }

    &__description {
        margin-bottom: var(--mb-2);

        @media screen and (min-width: 768px) {
            margin-bottom: var(--mb-2);
        }
    }

    &__img {
        display: flex;
        column-gap: 1rem;
        align-items: center;
        justify-content: center;

        &-overlay {
            overflow: var(--img-hidden);
        }

        &-one {
            width: 130px;

            @media screen and (min-width: 1024px) {
                width: 240px;
            }
        }

        &-two {
            width: 180px;

            @media screen and (min-width: 1024px) {
                width: 290px;
            }
        }

        &-one,&-two {
            transition: var(--img-transition);

            &:hover {
                transform: var(--img-scale);
            }
        }
    }
}